@media (min-width: 1920px) and (max-width: 1920px) and (max-height: 1080px) and (min-aspect-ratio: 16/9) {
    .main .right-content {
        width: 40rem;
        height: 40rem;
        background-color: $white-coffee;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    .coffee-container section img {
        max-width: 100%;
        max-height: 100%;
    }
}