@import './colours';
@keyframes filling{
    0%,100%{
        background-position: 0 130px;
    }

    50%{
        background-position: 600px -70px;
    }
}

.cup{
    position: absolute;
    width: 275px;
    height: 210px;
    border: 8px solid wheat;
    box-shadow: 0 0 0 12px $black-bean;
    border-radius: 15px 15px 65px 85px;
    background: url(/media-assets/coffee.png);
    background-repeat: repeat-x;
    background-position: 0 130px;
    animation: filling 4s infinite;
}
.cup .cup-handle{
    position: absolute;
    top: 10px;
    right: -110px;
    width: 80px;
    height: 130px;
    border: 10px solid $black-bean;
    border-radius: 35px 36px 80px 36px;
}
