.coffee-container{
  section {
    position:sticky;
    top:0;
    scroll-snap-align: start;
    min-block-size: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section:nth-of-type(even) {
    color: hsl(320 80% 90%);
    background: hsl(320 80% 40%);
  }
  
  section:nth-of-type(odd) {
    color: hsl(290 80% 90%);
    background: hsl(290 80% 40%);
  }
}